In [7]:
import pandas as pd
import numpy as np
#!pip install pyranges
import pyranges
import os
import seaborn as sns
from scipy import stats
import matplotlib.pyplot as plt
import glob
import random

In [13]:
union_vals = pd.read_csv("/t1-data/project/fgenomics/jinchaus/rotation/50Donors/peakcall/H3K27ac/sumunion/interesting_peaks/Variable_K27.tsv", delimiter='\t')

In [14]:
union_vals

,Chr,Start,End,Tags,length-ATAC-union,CoefOfVar_(SD/Mean)_ATAC_union,CoefOfVar_K27_500-600bp_union,Drop_(Max-Min/Max)_K27_500-600bp_union,CoefOfVar_Q1Q3_(SD/Mean)_ATAC_union,CoefOfVar_Q1Q3_K27_500-600_union,...,Mean_ATAC_union,Max-Mean_ATAC_union,SD_ATAC_union,start-500,end-500,start-500-300,end-500-300,start-500-600,end-500-600,Mean/SD_K27_500-600bp
0,chr6,29926635,29927586,NaN,951,0.420621,0.858509,0.999687,0.482280,0.945166,...,2.584025,2.566425,1.086895,29926610,29927610,29926310,29927910,29926010,29928210,1.164811
1,chr5,159100039,159100901,NaN,862,0.381985,1.008982,0.999343,0.449028,1.015287,...,7.293593,6.853407,2.786042,159099970,159100970,159099670,159101270,159099370,159101570,0.991098
2,chr1,75991043,75992115,NaN,1072,0.668179,2.099232,0.999335,0.723758,1.709657,...,2.128414,5.451836,1.422161,75991079,75992079,75990779,75992379,75990479,75992679,0.476365
3,chr6,168302284,168303170,NaN,886,0.564300,1.485676,0.998569,0.637506,1.430360,...,6.451486,6.499214,3.640576,168302227,168303227,168301927,168303527,168301627,168303827,0.673094
4,chr19,21626996,21628046,NaN,1050,0.395331,0.939790,0.997856,0.459476,0.935919,...,3.166428,3.054462,1.251787,21627021,21628021,21626721,21628321,21626421,21628621,1.064068
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
153,chr8,122595564,122596491,NaN,927,0.486214,1.347950,0.980234,0.561034,1.300737,...,1.836817,2.095283,0.893086,122595528,122596528,122595228,122596828,122594928,122597128,0.741867
154,chr6,133947064,133948126,NaN,1062,0.426478,1.050079,0.980154,0.493122,1.048007,...,2.199287,3.359443,0.937949,133947095,133948095,133946795,133948395,133946495,133948695,0.952309
155,chr4,168486715,168487618,NaN,903,0.916015,1.579365,0.980109,0.983539,1.591768,...,1.526440,7.445540,1.398242,168486666,168487666,168486366,168487966,168486066,168488266,0.633166
156,chr6,119312626,119313497,NaN,871,0.378229,1.031493,0.980088,0.436417,1.106713,...,1.177697,1.518463,0.445440,119312562,119313562,119312262,119313862,119311962,119314162,0.969468
157,chr1,23539485,23540401,NaN,916,0.431524,0.934152,0.980056,0.505597,0.987594,...,3.011741,3.039049,1.299638,23539443,23540443,23539143,23540743,23538843,23541043,1.070490

In [15]:
union_vals["start-100kb"]=round((union_vals['Start'] + (union_vals['length-ATAC-union']/2) - 100000)).astype(int)

In [16]:
union_vals["end-100kb"]=round((union_vals['End'] + (union_vals['length-ATAC-union']/2) + 100000)).astype(int)

In [17]:
union_vals[['Chr','start-100kb','end-100kb']].to_csv('/t1-data/project/fgenomics/jinchaus/rotation/50Donors/peakcall/H3K27ac/sumunion/interesting_peaks/100kb_Variable_K27_peaks.csv', header = False, sep = "\t", index=False)